{% extends 'base.html' %}

{% block title %}
    About
{% endblock %}

{% block body %}

<div class="container mt-5">
    <h1>User Add</h1>
    <form method="post">
        <input type="text" name="username" placeholder="username" class="form-control" ><br>
        <input type="password" name="password1" placeholder="password" class="form-control"><br>
        <input type="password" name="password2" placeholder="repeat password" class="form-control"><br>
        <input type="submit" value="Add" class="btn btn-success ">
    </form>
</div>

{% endblock %}